#footer-text{
  height: 20px;
  padding: 40px;
  margin: 20px;
}

body{
  padding-top: 75px;
  padding-bottom: 75px;
}

select{
  width: 90%;
  background: #fff;
  height: 25px;
}

input.ng-valid{
    /* green */
    border: 1px solid green;
}

input.ng-invalid{
    /* red */
    border: 1px solid red;
}

input.ng-pristine{
    /* red */
    border: 1px solid gray;
}