 @import "vendor/bootstrap/bootstrap";

.navbar-brand {
  padding: 10px 15px;
}

.date-picker {
  form {
    display: inline-block;
  }

  .date-input {
    display: inline-block;
    width: 155px;
  }
}

.stocks-panel {
  .gi-half {
    font-size: 0.8em;
  }

  .table-vcenter td {
     vertical-align: middle!important;
  }
}
