 @import "vendor/bootstrap/bootstrap";

.navbar-brand {
  padding: 10px 15px;
}

.table-vcenter td {
   vertical-align: middle!important;
}

.gi-half {
  font-size: 0.8em;
}

.date-picker {
  height: 80px;

  form {
    display: inline-block;
  }

  .date-input {
    display: inline-block;
    width: 155px;
  }
}

.portfolio-main {
  h3 {
    margin-top: 5px;
  }
}

.stocks-panel {
  h4 {
    margin-top: 5px;
  }  
}