 @import "vendor/bootstrap/bootstrap";

.navbar-brand {
  padding: 10px 15px;
}

form {
  display: inline-block;
}

.date-input {
  display: inline-block;
  width: 155px;
}

.ng-invalid {
  @extend .has-error;
}