  <h2>Stock Ticker</h2>
  <!-- {{stockData[0][1][0]}} -->
  {{trends}}
  <table class='table table-hover'>
    <thead>
      <th>Symbol</th>
      <th>Price</th>
      <th>1d</th>
      <th>7d</th>
      <th>30d</th>
      <th>Trade</th>
    </thead>
    <tbody>
      <tr ng-repeat="stock in stockData">
      <td>{{stock[0][0].Symbol}}</td>
      <td>{{stock[0][0].Close | currency}}</td>
      <td>{{stock[0][0].Close - stock[0][1].Close | currency}}</td>
      <td>{{stock.Close | currency}}</td>
      <td>X</td>
      <td>Trade</td>
      </tr>
    </tbody>

  </table>

</div>
