.margin-top {
  margin-top: 30px;
}

.inline-block {
  display: inline-block;
}

.margin-right {
  margin-right: 20px;
}

#datepicker {
  margin-bottom: 10px;
  height: 140px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.move-up {
  position: relative;
  top: -10px;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}