<h2>Stocks for {{currentDate | date}}</h2>

<table class="table">
  <thead>
    <tr>
      <th style="width: 25%">Symbol</th>
      <th style="width: 25%">Closing Price</th>
      <th style="width: 15%">1d</th>
      <th style="width: 15%">7d</th>
      <th style="width: 15%">30d</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stock in dates[currentDate.toDateString()]">
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.closing | positive }}{{ stock.closing | currency}}</td>
      <td>{{ stock.days.one | positive}}{{ stock.days.one | currency }}</td>
      <td>{{ stock.days.seven | positive }}{{ stock.days.seven | currency }}</td>
      <td>{{ stock.days.thirty | positive }}{{ stock.days.thirty | currency }}</td>
    </tr>
  </tbody>
</table>
