<div class="row">
  <div class="col-sm-7">
    <h4>Stocks <small>{{ dates.selected | date : 'shortDate' }}</small></h4>
  </div>

  <div class="col-sm-5 form-inline">
    <div class="form-group">
      <input name="stock-filter" class="form-control input-sm" type="text" placeholder="Filter Symbols" ng-model="displaySymbol">
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <a href="javascript:void()" ng-click="orderBy = 'symbol'; orderByReverse = !orderByReverse">Symbol</a>
          </th>
          <th>
            <a href="javascript:void()" ng-click="orderBy = 'price'; orderByReverse = !orderByReverse">Price</a>
          </th>
          <th>
            <a href="javascript:void()" ng-click="orderBy = '[1].diff'; orderByReverse = !orderByReverse">1d</a>
          </th>
          <th>
            <a href="javascript:void()" ng-click="orderBy = '[7].diff'; orderByReverse = !orderByReverse">7d</a>
          </th>
          <th>
            <a href="javascript:void()" ng-click="orderBy = '[30].diff'; orderByReverse = !orderByReverse">30d</a>
          </th>
          <th>Trade?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="quote in quotes | filter:{symbol:displaySymbol} | orderBy : orderBy : orderByReverse">
          <td>{{ quote.symbol }}</td>
          <td>{{ quote.price | currency }}</td>
          <td>{{ quote[1].diff | currency }}</td>
          <td>{{ quote[7].diff | currency }}</td>
          <td>{{ quote[30].diff | currency }}</td>
          <td>-</td>
        </tr>
      </tbody>      
    </table>
  </div>
</div>