<div class="col-md-12">
  <p ng-click="editing = !editing" ng-hide="editing">Chosen Date: {{ dates[selectedDate.index] | date}}</p>
  <input type="date" ng-show="editing" ng-model="chosenDate" min="2015-02-17" max="2015-12-31">
  <input type="submit" ng-show="editing" ng-click="changeDate(chosenDate)" value="Choose Date">

  <span>02/17/2015</span>
  <input class="form-control" type="range" min="30" max="{{dates.length-1}}" ng-model="newDate" ng-change="setDate(newDate)">
  <span>12/31/2015</span>

</div>
