<table class="table table-striped">
  <thead>
    <th>Symbol</th>
    <th>Price</th>
    <th>1d</th>
    <th>30d</th>
    <th>6month</th>
    <th>Trade?</th>
  </thead>
  <tbody>
    <tr ng-repeat="dataRow in stockData | dateFilter:selectedDate() ">
      <td>{{ dataRow.Symbol }}</td>
      <td>{{ dataRow.Close | currency }}</td>
      <td>{{ getYesterday(dataRow) | currency }}</td>
      <td>{{ getLastMonth(dataRow) | currency }}</td>
      <td>{{ getLast6Month(dataRow) | currency }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
