<div class="row">
  <div id="stocks-wrapper">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1>Stocks</h1>
        </div>

        <div class="col-xs-6 col-md-6">
          <h2 style="display: inline-block;">Filter:</h2><input ng-model="tickerFilter" type="text">
        </div>
      </div>

      <table class="table table-bordered table-striped">
        <tr>
          <th>Symbol<span></span></th>
          <th>Price</th>
          <th>1d</th>
          <th>7d</th>
          <th>30d</th>
          <th>Trade</th>
        </tr>
        
        <tbody ng-repeat="(ticker, days) in stocks">

          <tr ng-repeat="day in days | filter:{Date: selectedDate} | orderBy:'Symbol' | filter:{Symbol: tickerFilter}">
            
            <td>{{ day.Symbol }}</td>  
            <td>{{ day.Close | currency }}</td>
            <td>{{ day.oneDayPerformance() | currency }}</td>
            <td>{{ day.sevenDayPerformance() | currency }}</td>
            <!-- not hiding very well.. -->
            <td><span ng-hide="day.thirtyDayPerformace() < 0"></span>{{ day.thirtyDayPerformance() | currency }}</td>
            <td ui-sref="main.trade({symbol: day.Symbol, price: day.Close, day: day.Date})"><a>Trade</a></td>
          </tr>
        </tbody>



      </table>

    </div>

  </div>
</div>