<div class='panel panel-default'>

  <div class='panel-body'>


    <div class='row'>
      <div class='col-xs-12'>
        <h2>Stocks</h2>
        <p>{{ currentDate | date:'M/d/yyyy' }}</p>
      </div>
    </div>


    <div class='row'>
      <div class='col-xs-4 pull-right'>
        <input name='stock-filter' class='form-control' ng-model='symbolFilter'>
      </div>
      <div class='col-xs-4 pull-right text-right'>
        <label for='stock-filter'><h4>Filter:</h4></label>
      </div>
    </div>


    <div class='table-responsive'>
      <table id='stock-table' class='table table-bordered table-striped'>
        <thead>
          <tr>

            <th class='clickable' ng-click="toggleSort('symbol')">
              Symbol
              <i class="glyphicon" ng-class="getIcon('symbol')"></i>
            </th>

            <th class='clickable' ng-click="toggleSort('price')">
              Price
              <i class="glyphicon" ng-class="getIcon('price')"></i>
            </th>

            <th class='clickable' ng-click="toggleSort('priceChange1day')">
              1d
              <i class="glyphicon" ng-class="getIcon('priceChange1day')"></i>
            </th>

            <th class='clickable' ng-click="toggleSort('priceChange7day')">
              7d
              <i class="glyphicon" ng-class="getIcon('priceChange7day')"></i>
            </th>

            <th class='clickable' ng-click="toggleSort('priceChange30day')">
              30d
              <i class="glyphicon" ng-class="getIcon('priceChange30day')"></i>
            </th>

            <th>Trade?</th>

          </tr>
        </thead>

        <tbody>
          <tr stock-row ng-repeat='stock in stocks | orderBy:sort:sortDescending | filter: { symbol: symbolFilter }' stock='stock'></tr>
        </tbody>

      </table>
    </div>

  </div> <!-- panel-body -->

</div> <!-- panel -->