<h3>Trade</h3>
<form>
  <label>
    Symbol
    <input type='text' ng-model='Symbol'>
  </label><br>

  <label>
    Buy/Sell
    <input type='dropdown' ng-model='tradeType'>
  </label><br>

  <label>
    Quantity
    <input type='text' ng-model='tradeQuantity'>
  </label><br>

  <label>
    Date
    <input type='date' ng-model='tradeDate'>
  </label><br>

  <label>
    Price
    <input ng-model='tradePrice'>
  </label><br>

  <label>
    Cash available
    <input ng-model='cashAvailable'>
  </label><br>

  <label>
    Order status
    <input ng-model='orderStatus'>
  </label><br>

  <input type='submit' value='Submit'>
</form>
