<h3>Trade</h3>
<!-- Don't give a form the same name as the value used in a validator -->
<form ng-submit='placeOrder()' name='tradeForm'>
  <label>
    Symbol
    <input
    type='text'
    ng-model='trade.formData.symbol'
    placeholder="{{trade.stock.Symbol}}"
    valid-symbol>
  </label><br>

  <label>
    Buy/Sell
    <select
    ng-model='trade.formData.type'>
      <option value='buy'>Buy</option>
      <option value='sell'>Sell</option>
    </select>
  </label><br>

  <label>
    Quantity
    <input
    type='number'
    ng-model='trade.formData.quantity'
    min='1'
    max='{{maxQuant()}}'>
  </label><br>

  <label>
    Date
    <input
    type='date'
    ng-model='trade.formData.date'
    value="{{trade.formData.date}}">
  </label><br>

  <label>
    Price
    <p ng-model='trade.formData.price'>
      {{trade.stock.Close}}
    </p>
  </label><br>

  <label>
    Cash available
    <p ng-model='trade.formData.cashAvailable'>
      {{trade.user.cashAvailable}}
    </p>
  </label><br>

  <label>
    Cost
    <p>
      {{ showCost() }}
    </p>
  </label><br>


  <label id="order-status">
    Order status<br>
    <p ng-show="tradeForm.$valid" class='valid-order'>VALID</p>
    <p ng-hide="tradeForm.$valid" class='invalid-order'>INVALID</p>
  </label><br>

  <input type='submit' value='PLACE ORDER'>
</form>
