<div class="row">
	<div class="col-md-6">
		<form>
			<div class="form-group">
			<label>Symbol:</label>
				<input type="text" class="form-control" disabled value="{{formData.symbol}}">
			<label>Buy/Sell</label>
				<select class="form-control" ng-model="formData.action" required>
					<option value="buy">Buy</option>
					<option value="sell">Sell</option>
				</select>
			<label>Quantity
				<input type="number" min="10" step="10" class="form-control" ng-model="formData.quantity">
			</label>
			<label>Date
				<input type="text" class="form-control" disabled value="{{formData.date}}">
			</label>
			<label> Price
				<input type="text" class="form-control" disabled value="{{formData.price | currency }}">
			</label>
			<label>Cost
				<input type="text" class="form-control" disabled value="{{formData.price * formData.quantity | currency}}">
			</label>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="placeTrade()">Place Order!</button>
		</form>	
	</div>
	<div class="col-md-6">
		<h3>Cash Available: {{ account.cash | currency }}</h3>
	</div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="invalid">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Invalid Order! Make sure you own the shares you would like to sell.
</div>
<div class="alert alert-warning alert-dismissible" role="alert" ng-show="insufficientFunds">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  You don't have enough funds!
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Order successfully placed!
</div>