<div id="trade-container">

  <div class="header">
    <div class="title">
      Trade
    </div>

    <div class="select-view-container">
      A dropdown will exist here one day
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div id="trade-left">
        <form action="">

          <label>
            Symbol: <input type="text">
          </label> <br>

          <label>
            Buy/Sell: <select name="" id="">
              <option value="">Buy</option>
              <option value="">Sell</option>
            </select>
          </label> <br>

          <label>
            Quantity: <input type="text">
          </label>

          <label>
            Date: <input type="text">
          </label> <br>

          <label>
            Price:
          </label> <br>

          <label>
            Cost:
          </label>
        </form>
      </div>
    </div>

    <div class="col-xs-6">
      <div id="trade-right">
        <div id="cash-available-container">
          <div class="form-label">
            Cash Available:
          </div>
          <div class="value">
            $123,456.78
          </div>
        </div>

        <div id="order-status-container">
          <div class="form-label">
            Order Status:
          </div>
          <div class="value">
            VALID
          </div>
        </div>
      </div>
    </div>

  </div>
</div>