<div class="row">
	<div class="col-md-6">
		<form>
			<div class="form-group">
			<label>Symbol:</label>
				<input type="text" class="form-control" disabled value="{{formData.symbol}}">
			<label>Buy/Sell</label>
				<select class="form-control" ng-model="formData.action" required>
					<option value="buy">Buy</option>
					<option value="sell">Sell</option>
				</select>
			<label>Quantity
				<input type="number" min="10" step="10" class="form-control" ng-model="formData.quantity">
			</label>
			<label>Date
				<input type="text" class="form-control" disabled value="{{formData.date}}">
			</label>
			<label> Price
				<input type="text" class="form-control" disabled value="{{formData.price | currency }}">
			</label>
			<label>Cost
				<input type="text" class="form-control" disabled value="{{formData.price * formData.quantity | currency}}">
			</label>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="placeTrade()">Place Order!</button>
		</form>	
	</div>
	<div class="col-md-6">
		<p>Cash Available: {{ account.cash | currency }}</p>
		<p>Order Status</p>
		<p>{{ orderStatus }}</p>
	</div>
</div>