<div class="col-xs-12" id="transactions-wrapper">
  <div class="row">
    <div class="col-xs-4">
      <h2>Transactions</h2>
    </div>

    <div class="col-xs-8">
      <h4>Filter:</h4>
      <input ng-model="symbolFilter" type="text">
    </div>

  </div>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Date</th>
      <th ng-click="sort = 'symbol'">Symbol</th>
      <th ng-click="sort = 'type'">Type</th>
      <th ng-click="sort = 'quantity'">Quantity</th>
      <th ng-click="sort = 'price'">Price</th>

    </tr>

    <!-- TRY GETTING ALL TRANSACTIONS IN AN ARRAY -->
    <!-- <tbody ng-repeat="(ticker, purchases) in transactions"> -->
      <tr ng-repeat="transaction in transactions | filter:{symbol: symbolFilter} | orderBy:sort">

        <td>{{ transaction.date }}</td>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.quantity }}</td>
        <td>{{ transaction.price | currency }}</td>
      </tr>
    <!-- </tbody> -->




  </table>

  





</div>