<div class="col-xs-12" id="transactions-wrapper">
  <div class="row">
    <div class="col-xs-4">
      <h2>Transactions</h2>
    </div>

    <div class="col-xs-8">
      <h4>Filter:</h4>
      <input type="text">
    </div>

  </div>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Date</th>
      <th>Symbol</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>

    </tr>

    <tbody ng-repeat="(ticker, purchases) in transactions">
      <tr ng-repeat="transaction in purchases">

        <td>{{ transaction.date }}</td>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.quantity }}</td>
        <td>{{ transaction.price | currency }}</td>
      </tr>
    </tbody>




  </table>

  





</div>