<div class="card card-outline-warning">

  <div class="card-header bg-warning text-xs-center"> 
    <div class="col-sm-12">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        Main Widget
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <select ng-change='changeView()' ng-model="selectedView"
          ng-options="widget.name for widget in widgets">

       </select>
      </div>
    </div>
    <br>
    
  </div>

  <div class="card-block" id="main-widget">
    
    <div ui-view="widget"> </div>

  </div>
</div>