
<div class="col-sm-12">
  <div class="col-sm-3">
    <h1>Stocks Widget</h1>
  </div>
  <div class="col-sm-9">
    <div class="col-sm-2">
      <h4>Filter</h4>
    </div>
    <div class="col-sm-10">
      <input type="text" style="text-transform:uppercase" ng-model="nameFilter" class="form-control" ng-value="">
    </div>
  </div>
</div>

<table class="table table-inverse table-bordered table-hover text-xs-center">
  <theader class="text-xs-center">
    <tr>
      <th>
        Symbol
      </th>
      <th>
        Price
      </th>
      <th>
        1d
      </th>
      <th>
        7d
      </th>
      <th>
        30d
      </th>
      <th>
      </th>
    </tr>
  </theader>
  <tbody>
    <tr stock-row ng-repeat="stock in allStocks | filterBySymbol:(nameFilter|uppercase)" stock="stock"></th>
  </tbody>
</table>
