.datepicker-label {
  position: absolute;
  z-index: 1;
  width: 100px;
  transform: translateX(-50px);
}


.date-label-min {
  transform: translateX(-50%);
}

.date-label-max {
  transform: translateX(50%);
}


.datepicker {
  margin-top: 16px;
}