::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

main-nav{

  .navbar {
    margin-bottom: 50px;

    #navbar-logo-link {
      font-size: 24px;
      padding: 15px;
    }

    #navbar-name-link {
      color: #777;
      display: inline-block;
      font-size: 21px;
      line-height: 25px;
      padding: 15px 0; 
      text-decoration: none;
    }

    #navbar-name-link:hover {
      color: #5e5e5e;
    }
  }
}

.container {
  width: 940px;

  .view-container {
    border: 1px solid black;
    padding: 15px;
  }

  .sub-header {
    display: inline-block;
    font-size: 25px;
  }

  #get-stocks-container {
    margin-bottom: 15px;

    #get-stocks-header-container {
      margin-bottom: 15px;
    }

    #table-container {
      height: 300px;
      overflow: auto;
    }
  }

  #stocks-container {
    position: relative;

    #stocks-header-container {
      margin-bottom: 15px;

      #filter-container {
        position: absolute;
        top: 20px;
        right: 15px;

        font-size: 13px;
      }
    }
  }

  #date-picker-container {
    margin-bottom: 15px;
    position: relative;

    .date-picker-date {
      color: gray;
      position: absolute;
      top: -25px;
    }

    #earliest-date {
      left: 5px;
    }

    #current-date {
      color: black;
      left: 205px;
    }

    #latest-date {
      right: 5px;
    }

    #date-line-placer {
      color: #D4AF37;
      font-size: 20px;

      position: absolute;
      left: 5px;
      top: 5px;
    }
  }

  #main-view {
    min-height: 300px;
  }
}