<div id="datepicker">
  <p>Start: {{ 1388552400000 | date}}</p>
  <input id="date-slider" ng-click="setShowInput()" type="range" min="1388552400000" max="1406865600000" step="86400000" ng-model="ourDate">
  <p>End: {{ 1406865600000 | date}}</p>
  <label>Current:</label>
  <p>{{currentDate | date}}</p>
  <div ng-show="showInput">
    <input type="text" ng-model="ourDate">
    <a href="#" ng-click="cancelDateChange()">Cancel</a>
    <a href="#" ng-click="submitDateChange()">Submit</a>
  </div>
  {{showInput}}
</div>
