<h3>Portfolio</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Cost Basis
      </th>
      <th>
        Current Value
      </th>
      <th>
        Profit/Loss
      </th>
      <th>
        1d
      </th>
      <th>
        7d
      </th>
      <th>
        30d
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Symbol
      </th>
      <th>
        Quantity
      </th>
      <th>
        Cost Basis
      </th>
      <th>
        Current Value
      </th>
      <th>
        Profit/Loss
      </th>
      <th>
        Current Price
      </th>
      <th>
        1d
      </th>
      <th>
        7d
      </th>
      <th>
        30d
      </th>
      <th>
        Trade?
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <a href="">trade</a>
      </td>
    </tr>
  </tbody>
</table>
