
<div class="row">

  <div class="col-xs-6">
    <form name="newTrade">
    
      <div class="form-group">
      <label>Symbol: </label>
      <input type="text" name="symbol" ng-model="formData.symbol" class="form-control"><br/>
    </div>

    <div class="form-group">
      <label>Buy/Sell: </label>
      <select ng-model="formData.transactionType" class="form-control">
        <option value="buy">BUY</option>
        <option value="sell">SELL</option>
      </select><br/>
    </div>

    <div class="form-group">
      <label>Quantity: </label>
      <input type="number" name="quantity" ng-model="formData.quantity" class="form-control"><br/>
    </div>

    <div class="form-group">
      <label>Date: </label>
      <span type="date" name="date" ng-model="formData.date">2014-03-01</span><br/>
    </div>

    <div class="form-group">
      <label>Price: </label>
      {{ price }}<br/>
    </div>

    <div class="form-group">
      <label>Cost: </label>
      {{ totalCost }}<br/>
    </div>

      <input type="submit" value="Place Order!" class="btn btn-info">

    </form>
  </div>





  <div class="col-xs-6">
    
  </div>





</div>