
<div class="row">

  <div class="col-xs-6">
    <form name="newTrade">
    
      <div class="form-group">
      <label>Symbol: </label>
      <select ng-model="symbol" ng-options="stock as stock for stock in availableStocks" class="form-control" required></select>
    </div>

    <div class="form-group">
      <label>Buy/Sell: </label>
      <select ng-model="transactionType" class="form-control" required>
        <option value="buy">BUY</option>
        <option value="sell">SELL</option>
      </select><br/>
    </div>

    <div class="form-group">
      <label>Quantity: </label>
      <input type="number" name="quantity" ng-model="quantity" class="form-control" min="0"><br/>
    </div>

    <div class="form-group">
      <label>Date: </label>
      <span type="date" name="date" ng-model="date">{{ date | date: 'yyyy-MM-dd' }} </span><br/>
    </div>

    <div class="form-group">
      <label>Price: </label>
      {{ price | currency }}<br/>
    </div>

    <div class="form-group">
      <label>Cost: </label>
      {{ getTotalCost() | currency }}<br/>
    </div>

    <input type="submit" value="Place Order!" class="btn btn-info" ng-click="createTransaction(newTrade.$valid)">


    <div>{{errorMessage}}</div>

    </form>
  </div>





  <div class="col-xs-4 col-xs-offset-2">

    <label>Cash Available: </label><br/>
    {{ cashAvailable | currency }}<br/><br/><br/><br/>

    <label>Order Status: </label><br/>
    {{ validOrder() }}
    
  </div>





</div>