<h3>Transactions</h3>

<div class="form-group">
  <label for="filter">Filter</label>
  <input type="text" class="form-control" ng-model="filter"></input>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Symbol
      </th>
      <th>
        Type
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
