<div class="panel-body">
  <div>
      <div class="col-xs-6">
        <h2>Stock Ticker</h2>
      </div>
    <div class="col-xs-6">
     <h4>Filter: <input type='text' ng-model='symFilter'></h4>
    </div>
  </div>
  <!-- {{stockData[0][1][0]}} -->
  <table class='table table-hover'>
    <thead>
      <th>Symbol</th>
      <th>Price</th>
      <th>1d</th>
      <th>7d</th>
      <th>30d</th>
      <th>Trade</th>
    </thead>
    <tbody>
      <tr ng-repeat="stock in trends | filter: {$: symFilter}">
      <td>{{stock[0].Symbol}}</td>
      <td>{{stock[0].Close | currency}}</td>
      <td>{{stock[1].Close - stock[0].Close | currency}}</td>
      <td>{{stock[2].Close - stock[0].Close| currency}}</td>
      <td>{{stock[3].Close - stock[0].Close| currency}}</td>
      <td><a ui-sref="simulator.trade">Trade</a></td>
      </tr>
    </tbody>

  </table>

</div>
