<div class="row">
  <div class="col-xs-1">
    {{ startDate | date : 'shortDate'}}
  </div>

  <div class="col-xs-11 text-right">
    {{ endDate | date : 'shortDate'}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <input type="range" ng-model="rangeVal" min="0" max="{{ rangeMax }}">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <strong>Selected Date:</strong>

    <input name="date-input" class="form-control date-input" type="date" 
           ng-show="showInput" ng-model="selectedDate" 
           ng-model-options="{updateOn : 'blur'}" ng-blur="showInput = false" focus="{{ showInput }}" 
           min="{{startDate | date:'yyyy-MM-dd'}}" 
           max="{{endDate | date:'yyyy-MM-dd'}}" required>

    <a href="javascript:void(0)" 
       ng-click="showInput = true; disableTip = true" 
       ng-show="!showInput" 
       uib-tooltip="Click to enter a date." 
       tooltip-placement="right"
       tooltip-enable="!disableTip">

      <strong>{{ selectedDate | date:'shortDate' }}</strong>
    </a>
  </div>
</div>