<div class="row">
  <div class="col-xs-1 pull-right">{{ endDate | date : 'shortDate'}}</div>
  <div class="col-xs-1">{{ startDate | date : 'shortDate'}}</div>
</div>

<div class="row">
  <div class="col-xs-12">

    <input type="range" ng-model="rangeVal" min="0" max="{{ rangeMax }}">

  </div>
</div>

<div class="row">
  <div class="col-xs-6 form-inline">
    <div class="form-group">
      <label for="date-input">Selected Date:</label>
      <input name="date-input" ng-show="showInput" class="form-control" type="date" ng-model="selectedDate" ng-model-options="{updateOn : 'blur'}" ng-blur="showInput = false" min="{{startDate | date:'yyyy-MM-dd'}}" max="{{endDate | date:'yyyy-MM-dd'}}" required>
    </div>

    <a href="javascript:void(0)" ng-click="showInput = true" ng-show="!showInput" uib-tooltip="Click to enter a date." tooltip-placement="right">{{ selectedDate | date:'shortDate' }}</a>
  </div>
</div>