<div class="row">
  <div class="col-xs-5">
    <h3>Transactions</h3>
  </div>

  <div class="col-sm-5 form-inline">
    <div class="form-group">
      <input name="transaction-filter" class="form-control input-sm" type="text" placeholder="Filter Transactions" ng-model="trsFilter">
    </div>
  </div>

  <div class="col-xs-2">
    <nav-select></nav-select>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th sort-header ng-repeat="header in headers" label="{{header.label}}" set-order-by="{{header.setOrderBy}}" sort="sort"></th>
      <th>Type</th>    
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="trs in transactions | orderBy : sort.orderBy : sort.orderByReverse | filter : search" ng-class="{'info': trs === new}">
      <td>{{ trs.date | date: 'shortDate' }}</td>
      <td>{{ trs.symbol }}</td>
      <td>{{ trs.type | uppercase }}</td>
      <td>{{ trs.quantity }}</td>
      <td>{{ trs.price | currency }}</td>
    </tr>
  </tbody>
</table>