<div class='row'>

  <div class='col-xs-9'>
    <h2>Trade</h2>
  </div>

  <div class='col-xs-3'>
    <select class='form-control'><option>Trade</option></select>
  </div>

</div>


<div class='row'>


  <div class='col-xs-6'>
    <form name='transactForm' class='form-horizontal'>

      <div class='form-group'>
        <label for='symbol' class='col-xs-4 control-label'>Symbol:</label>
        <div class='col-xs-8'>
          <input type='text' name='symbol' class='form-control' ng-model='transaction.symbol' ng-change='refresh()' required>
        </div>
      </div>

      <div class='form-group'>
        <label for='transact' class='col-xs-4 control-label'>Buy/Sell:</label>
        <div class='col-xs-8'>
          <select name='transact' class='form-control' ng-model='transaction.transactOptions.selected' ng-options="option.name for option in transaction.transactOptions.available track by option.id" required>
            <!-- <option value=1>Buy</option>
            <option value=-1>Sell</option> -->
          </select>
        </div>
      </div>

      <div class='form-group'>
        <label for='quantity' class='col-xs-4 control-label'>Quantity:</label>
        <div class='col-xs-8'>
          <input type='number' min='1' name='quantity' class='form-control' ng-model='transaction.quantity' required>
        </div>
      </div>

      <div class='form-group'>
        <label for='date' class='col-xs-4 control-label'>Date:</label>
        <div class='col-xs-8'>
          <input type='date' name='date' class='form-control' ng-model="transaction.date" ng-change='refresh()' required>
        </div>
      </div>

      <div class='form-group'>
        <label class='col-xs-4 control-label'>Price:</label>
        <div class='col-xs-8'>
          <p class='form-control'>{{ transaction.price | currency }}</p>
        </div>
      </div>

      <div class='form-group'>
        <label class='col-xs-4 control-label'>Total:</label>
        <div class='col-xs-8'>
          <p class='form-control'>{{ transaction.price * transaction.quantity | currency }}</p>
        </div>
      </div>

      <!-- <div class='col-xs-10 col-xs-offset-1'> -->
        <input type='submit' class='btn btn-primary btn-block' value='Place Order'>
      <!-- </div> -->

    </form>
  </div>


  <div class='col-xs-5 col-xs-offset-1'>
    <h4>Cash Available:</h4>
    <p>{{ bank | currency }}</p>

    <h4>Current Shares:</h4>
    <p>{{ currentShares | number }}</p>

    <h4>Order Status</h4>
    <p>{{ status(transactForm.$valid) }}</p>
  </div>

</div>