<div class = "panel panel-default">
<div class="panel-body">
  <div class="row">
      <div class="col-xs-6">
        <h2>Trade</h2>
      </div>
    <div class="col-xs-6">
      OTHER HALF
    </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
        Symbol: <select type="text" class="form-control" ng-model="symbol"
                 ng-change="updatePrice()">
                  <option ng-repeat="symbol in symbols">{{symbol}}</option>
                </select>
        Buy/Sell: <select class="form-control" ng-model="buyOrSell">
                    <option value="Buy">Buy</option>
                    <option value="Sell">Sell</option>
                  </select>
        Quantity: <input type="text" class="form-control" ng-model="quantity">
        Date: <input type="date" class="form-control" ng-model='viewDate'
         ng-change="updateDate()">
         {{oneYearAgo}}
        <br>
        <p>Price per Stock: {{price | currency}}</p>
        <p>Total Cost: {{price * quantity | currency}}</p>
        <button ng-if="buyOrSell=='Buy'"  class="btn btn-primary" ng-click="buy()">BUY</button>
        <button ng-if="buyOrSell=='Sell'" class="btn btn-primary" ng-click="sell()">SELL</button>
      </div>
    <div class="col-xs-6">
      <p><strong>Cash Available:</strong></p>
      <p>{{cash | currency}}</p>
      <p><strong>Order Status:</strong></p>
      <p ng-if="validateTransaction(buyOrSell)">Valid</p>
      <p ng-if="!validateTransaction(buyOrSell)">Invalid</p>

    </div>
  </div>
</div>
</div>
