<div class="panel-body">
  <div class="row">
      <div class="col-xs-6">
        <h2>Trade</h2>
      </div>
    <div class="col-xs-6">
      <select class="pull-right">
        <option>Trade</option>
      </select>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
        Symbol: <select type="text" class="form-control">
                  <option ng-repeat="symbol in symbols">{{symbol}}</option>
                </select>
        Buy/Sell: <select class="form-control">
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                  </select>
        Quantity: <input type="text" class="form-control">
        Date: <input type="date" class="form-control">
        <br>
        <p>Price: $7.00</p>
      </div>
    <div class="col-xs-6">
      <p><strong>Cash Available:</strong></p>
      <p>$9,000,000,000.00</p>
      <p><strong>Order Status:</strong></p>
      <p>Valid</p>
    </div>
  </div>
</div>