<h1>Stocks</h1>

<div class="row">
  <div class="col-sm-6">
    <ul>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
      <li>tock</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ui-view></ui-view>
  </div>
</div>

